{% extends "base.html" %}
{% load static %}

{% block content %}
  <app-root>Loading the app...</app-root>
 
  <link rel="stylesheet" href="{% static 'frontend/styles.3e8a8ab7b1808624b875.css' %}">
  <script type="text/javascript" src="{% static 'frontend/runtime-es2015.0dae8cbc97194c7caed4.js' %}"></script>
  <script type="text/javascript" src="{% static 'frontend/polyfills-es2015.f332a089ad1600448873.js' %}"></script>    
  <script type="text/javascript" src="{% static 'frontend/main-es2015.6e67c84ff19079f1a01c.js' %}"></script>
 
{% endblock %}